/* Write your CSS here */

.card {
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  padding-block: 1rem;
  padding-inline: 0.5rem;
  width: 45%;
  min-width: 200px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.12);
}

.bx {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.bx > p {
  font-size: 1rem;
  font-weight: normal;
}

.bx > img {
  width: 50px;
  object-fit: contain;
}

@media (min-width: 768px) {
  .card {
    width: 47%;
    max-width: 500px;
  }
  .bx > img {
    width: 100px;
  }
  .bx > p {
    font-size: 1.8rem;
    font-weight: 500;
  }
}
