/* Write your CSS here */
.latest-match {
  color: white;
  font-family: 'Bree Serif';
  text-align: left;
  background-color: #0f172a;
  border-radius: 1rem;
}



.bx-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

hr {
  border-color: #ffffff33;
}

.details:first-child {
  font-size: 1.2rem;
  font-weight: 500;
}

.bx-1 > img {
  width: 100px;
  object-fit: contain;
}

.bx-2 {
  padding: 1rem;
}

.title {
  font-size: large;
}

p {
  font-size: small;
}

@media (min-width: 768px) {
  hr {
    display: none;
  }
  .latest-match {
    display: flex;
    justify-content: space-between;
  }
  .bx-2 {
    text-align: right;
  }
  .bx-1 {
    width: 60%;
  }
}
